:root {
  --content: #000;
  --background: #fff;
  --background-alt: #E6E6FA;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("josefinSans-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
  font-style: normal;
}
html {
  background: var(--background-alt);
}

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 100%;
  font-family: "Josefin Sans";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  font-variation-settings: "wght" 400;
  background: var(--background-alt);
}
body * {
  margin: 0;
  padding: 0;
  text-indent: 0;
  border: none;
  background: none;
  outline: none;
  list-style-type: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  position: relative;
  display: block;
  width: 10rem;
  margin: auto;
  transition: font-variation-settings 0.15s;
}
a:link, a:visited, a:hover, a:active {
  color: var(--content);
}
a span {
  position: relative;
  z-index: 1;
  padding: 0 0.3rem;
}
a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0.4rem;
  background: turquoise;
  opacity: 0.5;
  transition: opacity 0.15s;
}
a:hover {
  font-variation-settings: "wght" 350;
}
a:hover:before {
  opacity: 1;
}
footer a {
  width: auto;
}
footer a:before {
  height: 0.3rem;
}

main {
  flex: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr max-content;
}
main:before {
  position: sticky;
  top: 0;
  content: "";
  background-image: url("marianne.png");
  background-size: cover;
  background-position: right bottom;
  margin-bottom: 3rem;
}
main form {
  height: 100%;
  max-width: 100vw;
  margin: 0 0 4rem auto !important;
  border-radius: 0 !important;
  background: transparent;
}
main form > * {
  max-width: 30rem;
  margin: 0 1rem;
  padding: 0 3rem;
}
main form input.button {
  color: var(--content) !important;
  background: turquoise !important;
}
main form input.button:hover {
  background: turquoise !important;
}
main form .brandingLogo {
  display: none;
}
main form h2, main form h3, main form p {
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
  font-variation-settings: "wght" 300;
}
main form h2 strong, main form h3 strong, main form p strong {
  font-variation-settings: "wght" 450;
}
main form h2 {
  font-size: 2rem !important;
  margin: 5rem auto 2rem !important;
}
main form h3 {
  margin-bottom: 1rem;
  font-size: 1.4rem !important;
}
main form p {
  margin-bottom: 1rem;
  font-size: 1rem;
}
main form #mce-responses #mce-success-response {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100% !important;
}
main form #mce-responses #mce-success-response:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-items: center;
  text-align: center !important;
  display: flex;
  padding: 2rem;
  background: var(--background-alt);
  color: var(--content);
  font-size: 1.4rem;
  content: "Thankyou!";
}
main form #mce-responses #mce-success-response:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-items: center;
  text-align: center !important;
  display: flex;
  padding: 7rem 2rem 2rem;
  color: var(--content);
  content: "I'll be in touch soon to organise your chart reading";
}

header {
  pointer-events: none;
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 200000;
}
header svg {
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
header svg circle {
  fill: var(--background);
  opacity: 0.7;
}
header svg .accent {
  fill: turquoise;
}
header svg .accent2 {
  fill: magenta;
}

footer {
  font-size: 80%;
  display: flex;
  min-height: 4rem;
  padding: 0 5vw;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2000;
  background: var(--background);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 600px) {
  header {
    position: static;
    height: 3rem;
  }
  header svg {
    right: 0.5rem;
    top: 0.5rem;
  }
}

/*# sourceMappingURL=mc.css.map */
