:root {
  --content: #000;
  --background: #fff;
  --background-alt: #E6E6FA;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("josefinSans-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
  font-style: normal;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("BodoniModa-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 999;
  font-style: normal;
}
@font-face {
  font-family: "Fira Mono";
  src: url("FiraMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  background: var(--background-alt);
}

iframe {
  border-radius: 0 !important;
}

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 100%;
  font-family: "Josefin Sans";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  font-variation-settings: "wght" 400;
  background: var(--background-alt);
}
body * {
  margin: 0;
  padding: 0;
  text-indent: 0;
  border: none;
  background: none;
  outline: none;
  list-style-type: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.punctuation {
  font-family: "Bodoni Moda";
}

a {
  text-decoration: none;
  position: relative;
  display: block;
  transition: font-variation-settings 0.15s;
}
a:link, a:visited, a:hover, a:active {
  color: var(--content);
}
a span {
  position: relative;
  z-index: 1;
  padding: 0 0.3rem;
}
a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0.6rem;
  background: turquoise;
  opacity: 0.5;
  transition: opacity 0.15s;
}
a:hover {
  font-variation-settings: "wght" 350;
}
a:hover:before {
  opacity: 1;
}
footer a:before {
  height: 0.3rem;
}

main {
  flex: 1;
  margin: 4rem auto;
}
main h2, main p, main a {
  margin: 0 5vw;
  font-size: 1.36rem;
  color: var(--content);
  font-variation-settings: "wght" 200;
}
main h2 {
  display: flex;
  position: relative;
  flex-direction: column;
}
main h2 span {
  position: relative;
  z-index: 1;
}
main h2 span:first-child {
  align-self: flex-end;
  margin-bottom: 0.3rem;
}
main h2 span:nth-child(2) {
  align-self: flex-start;
}
main h2 span.punctuation {
  color: var(--background);
  font-size: 7rem;
  position: absolute;
  left: 14rem;
  bottom: -3.5rem;
  z-index: 0;
  opacity: 0.9;
}
main p {
  margin-top: 1rem;
  text-align: center;
}
main#wrapper {
  margin: 0;
}

header {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: calc(60vh - 15rem) auto 0;
  z-index: 1000;
  position: relative;
  transition: all 0.45s ease-out;
  font-variation-settings: "wght" 200;
}
header svg {
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: -12vh;
  left: 10rem;
}
header svg circle {
  fill: var(--background);
  opacity: 0.7;
}
header svg .accent {
  fill: turquoise;
}
header svg .accent2 {
  fill: magenta;
}
header h1 {
  display: grid;
  font-size: 1.36rem;
  position: relative;
  grid-template-columns: 18rem;
}
header h1 > span {
  grid-column-start: 1;
  grid-row-start: 1;
  margin: 0 0 1rem 0.3rem;
  font-variation-settings: "wght" 350;
}
header h1 > span.punctuation {
  color: var(--background);
  grid-column-start: 1;
  grid-row-start: 2;
  font-size: 400%;
  font-variation-settings: "wght" 450;
  position: absolute;
  bottom: -1rem;
  right: -1.3rem;
  z-index: 0;
}
header h1 > span.punctuation:last-child {
  font-size: 1200%;
  bottom: -9.6rem;
  right: 2.2rem;
  font-variation-settings: "wght" 700;
}
header h1 strong {
  z-index: 10;
  grid-column-start: 1;
  grid-row-start: 2;
  position: relative;
  color: var(--content);
  transition: all 0.2s;
  letter-spacing: -0.2rem;
  color: turquoise;
  font-size: 4rem;
  justify-self: center;
  font-variation-settings: "wght" 250;
  text-shadow: -0.2rem 0.2rem 0 var(--content);
}

footer {
  font-size: 0.68rem;
  font-family: "Fira Mono";
  font-weight: normal;
  display: flex;
  min-height: 3rem;
  padding: 0 5vw;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2000;
  background: var(--background);
}

#top {
  position: absolute;
  top: 0px;
  height: 1px;
  width: 100%;
  background: yellow;
  pointer-events: none;
}

/*# sourceMappingURL=site.css.map */
